
.name{
	background-color: #20556D;
	margin:-8px -8px -4px;
	height: 40px;
	padding-bottom:2px;
	padding-top: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: white;
}
label{
	text-decoration-color: white;
}
.info
{
	
	height:30px;
	padding-top:10px;
	padding-left:40px;
	padding-right:60px;
	background-color: black;
	margin:0px -8px;
}

}
body{
	background-color: blue;
    
}

p a{
	text-decoration: none;
	color: white;
}
h1{
	color:black;
	margin-top: 60px;
	margin-bottom: 35px;
	padding-top: 5px;
}
.add{
	text-align: center;
	border: none;
	margin-top: 20px;
	margin-left: 380px;
	width:50%;
	height:320px;
	color: white;


}
input, select{ 
	height: 30px;
	margin: 20px;
	width:70%;
	background-color:black;
	border:1px solid black;
	color: white;
	padding-left: 10px;
	border-radius: 8px;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
}

input:focus {
    width: 100%;
}

.submit{
	width:10%;
	height: 30px;
	text-align: center;
	background-color: black;
	border: none;
}
button:hover{
	background-color: #517b96;
}