.name{
	background-color: #20556D;
	margin:-8px -8px -4px;
	height: 40px;
	padding-bottom:2px;
	padding-top: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: white;
}
.info
{
	
	height:30px;
	padding-top:10px;
	padding-left:40px;
	padding-right:60px;
	background-color: black;
	margin:0px -8px;
}
.left{
	float: right;
}
.right{
	float:left;
}
li
{
	display:inline;
}
li a
{
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	color:white;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	padding-right :15px;
	padding-left: 15px;
	width: 60px;
	text-align: center;
}
li a:hover{
	border: 2px solid white;
	margin:auto;
}
.dropbtn{
	float: left;
	border: none;
    cursor: pointer;

}
.dropdown{
	position: relative;
	display:inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #20556D;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover{
	background-color:#606060
}
.dropdown:hover .dropdown-content{
	display: block;
	margin: 22px 0px
}
p a{
	text-decoration: none;
	color: white;
}
.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    width: 31%;
    margin: 10px;
    float: left;
    height: 400px;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.container {
	margin: 0px;   
    padding:2px;
    text-align: center;
    font-size: 30px;
}
img {
	margin: 10px;
	margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    width:400px;
    height: 300px;
}
.header1{
	width: 500px;
}
.card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    width: 39%;
    margin: 10px;
    float: left;
    height: 400px;
}
.card2:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}